* {
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgb(201, 215, 255);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerCadastro {
  border: solid rgb(193, 193, 193) 1px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
}

.inputCadastro {
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.grid {
  border: solid rgb(193, 193, 193) 1px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 60px;
  /*width: 100%;*/
}

.th {
  text-align: left;
  background-color: red;
  padding-bottom: 5px;
}
